.header__formulario {
	display: flex;
	height: 9rem;
	align-items: center;
	background: var(--cinza-neutro, #f3f3f4);

	@include respond-to('medium') {
		height: 6.4rem;
	}

	@include respond-to('small') {
		height: 6.4rem;
	}

	.container {
		@include respond-to('medium') {
			align-items: center;
			justify-content: center;
		}

		@include respond-to('small') {
			align-items: center;
			justify-content: center;
		}
	}
}

.s-formulario {
	height: 80vh;
	padding-top: 9rem;

	@include respond-to(small) {
		height: auto;
		padding-top: 6.4rem;
	}

	@include respond-to(medium) {
		height: auto;
		padding-top: 6.4rem;
	}

	.container {
		display: flex;
		justify-content: space-between;
		@include respond-to(small) {
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
		}

		@include respond-to(medium) {
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
		}

		.first-column {
			max-width: 85rem;
		}

		.second-column {
			margin-top: 4rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2rem;
			width: 32rem;

			button,
			a {
				@include respond-to(small) {
					display: none;
				}
				@include respond-to(medium) {
					display: none;
				}
			}

			.second-column__card {
				width: 100%;
				display: flex;
				flex-direction: column;

				h2 {
					color: var(--cinza-escuro, #333);

					/* App/Bold/Bold 50 */
					font-family: Poppins;
					font-size: 2.8rem;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					margin-bottom: 1.6rem;
				}
			}
		}
	}
}

.footer__formulario {
	.container {
		display: flex;
		align-items: center;
		gap: 8rem;
	}

	.footer__card {
		display: flex;
		padding: 1.2rem 3.6rem;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.2rem;
		align-self: stretch;
		border-radius: 0.4rem;
		background: rgba(159, 159, 159, 0.6);

		@include respond-to(small) {
			padding: 1.2rem 2.4rem;
			
		}

		@include respond-to(medium) {
			padding: 1.2rem 2.4rem;
		}


		h3 {
			color: var(--branco, #fff);

			/* App/Bold/Bold 40 */
			font-family: Poppins;
			font-size: 2.4rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}

		p {
			color: var(--branco, #fff);

			/* App/Medium/Medium 40 */
			font-family: Poppins;
			font-size: 2.4rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		span {
			color: var(--branco, #fff);

			/* App/Medium/Medium 20 */
			font-family: Poppins;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 500;
			line-height: 2rem;
		}
	}
}

.step-content {
	padding-bottom: 3.2rem;
}

.btn-group-mobile {
	display: none;
	@include respond-to(small) {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 3.2rem;
		margin-bottom: 3.2rem;
		gap: 1.6rem;
	}

	@include respond-to(medium) {
		flex-direction: column;
		display: flex;
		align-items: center;
		margin-top: 3.2rem;
		margin-bottom: 3.2rem;
		gap: 1.6rem;
	}
}

.stepper-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.step-indicators {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-top: 4rem;
		margin-bottom: 3.4rem;
		width: 80%;
		/*  padding-bottom: 0.8rem; */
	}

	.step {
		position: relative;
		width: max-content;
	}

	.step-text {
		position: absolute;
		color: var(--cinza-escuro, #333);
		text-align: center;
		left: -50%;
		margin-left: -2rem;

		width: max-content;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: normal;

		&.address {
			margin-left: 0.5rem;
		}

		&.pay {
			margin-left: -4rem;
		}

		@include respond-to(small) {
			display: none;
		}

		@include respond-to(medium) {
			display: none;
		}
	}

	.step-indicators::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 0.4rem;
		background-color: #ccc;
		z-index: -1;
	}

	.step-bullet:not(:first-child) {
		position: relative;
	}

	.step-bullet:not(:first-child)::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -50%;
		width: 50%;
		height: 0.4rem;
		background-color: #ccc;
		z-index: 1;
	}

	.step-bullet.active::before {
		background-color: transparent;
	}

	.step-bullet {
		width: 4rem;
		height: 4rem;
		background-color: #ddd;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
		font-weight: 600;
		font-size: 1.6rem;
	}

	.step-bullet.active {
		background-color: #173daa;
		color: white;
	}

	.step-form {
		text-align: center;

		display: none;
		h3 {
			text-align: left;
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 3.6rem;
		}

		.step-form__grid {
			text-align: left;
			margin-bottom: 3.4rem;
			margin-top: 3.2rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			grid-gap: 2rem 3.2rem;

			@include respond-to(small) {
				margin-top: 3.2rem;
				display: grid;
				grid-template-columns: 1fr;

				grid-gap: 2rem;
			}
			@include respond-to(medium) {
				margin-top: 3.2rem;
				display: grid;
				grid-template-columns: 1fr;

				grid-gap: 2rem;
			}
		}
	}

	.step-form.active {
		display: block;
	}
}

.form-group {
	label {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2.2rem;

		margin-bottom: 0.8rem;
	}
	input,
	select {
		width: 100%;
		border: 0;
		border-radius: 0.8rem;
		padding: 1.6rem 2.4rem;
		font-weight: 400;
		font-family: 'Poppins';
		font-size: 1.6rem;
		line-height: 2.2rem;
		color: #0a386b;
		background: #fbfbfb;
		border: 0.5px solid #0a386b;
		outline: none;
		transition: all 0.3s ease-in-out;
		&:focus {
			border: 0.1rem solid #1d73f2;
			box-shadow: 0px 0px 0px 0.5px #0a386b;
		}
	}

	select {
		appearance: none;
		padding-right: 3.4rem; //

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%230a386b'%3E%3Cpath d='M8 10.5L1.5 4H14.5L8 10.5Z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: right 1.6rem center; // Ajuste esses valores conforme necessário
		&.up-arrow {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%230a386b'%3E%3Cpath d='M8 5.5L1.5 12H14.5L8 5.5Z'/%3E%3C/svg%3E");
		}
	}
}

.required-forms {
	color: var(--cinza-escuro, #333);

	/* App/Medium/Medium 10 */
	font-family: Poppins;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.6rem; /* 133.333% */
}
