header {
	position: fixed;
	z-index: 999;
	width: 100%;
	background-color: #fff;
	@include respond-to('medium') {
		background: var(--cinza-neutro, #f3f3f4);
	}

	@include respond-to('small') {
		background: var(--cinza-neutro, #f3f3f4);
	}
	.container {
		display: flex;
		padding: 1.5rem 0;
		justify-content: space-between;
		align-items: center;

		@include respond-to('medium') {
			align-items: center;
			justify-content: space-between;
			padding-left: 1.6rem;
			padding-right: 1.6rem;
		}

		@include respond-to('small') {
			align-items: center;
			justify-content: space-between;
			padding-left: 1.6rem;
			padding-right: 1.6rem;
		}

		/*  img {
      @include respond-to("medium") {
        align-self: center;
        justify-self: center;
      }
    } */

		img {
			@include respond-to('medium') {
				height: 3.4rem;
				flex-shrink: 0;
			}
			@include respond-to('small') {
				height: 3.4rem;
				flex-shrink: 0;
			}
		}
		.nav-desktop {
			@include respond-to('medium') {
				display: none;
			}

			@include respond-to('small') {
				display: none;
			}
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 4.8rem;

				li {
					a {
						color: var(--cinza-escuro, #333);

						/* App/Regular/Regular 20 */
						font-family: Poppins;
						font-size: 1.6rem;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						padding: 1.5rem 0;

						&:visited {
							color: inherit;
						}

						&:hover {
							filter: brightness(0.8);
						}

						&.last {
							color: #173daa;

							/* App/Bold/Bold 60 */
							font-family: Poppins;
							font-size: 3.6rem;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
					}
				}
			}
		}
	}
}

.navbar-mobile {
	display: none;
	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.8rem;
		align-self: stretch;
		background: var(--azul, #173daa);

		padding: 1.6rem;

		li {
			a {
				color: var(--branco, #fff);

				/* App/Medium/Medium 30 */
				font-family: Poppins;
				font-size: 2rem;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
	}
}

.menu-btn {
	display: none;
	@include respond-to(small) {
		z-index: 999;
		margin-left: 2.4rem;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4.8rem;
		height: 4.8rem;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	@include respond-to(medium) {
		z-index: 999;
		margin-left: 4.8rem;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4.8rem;
		height: 4.8rem;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.menu-btn__burger {
		width: 3.2rem;
		height: 0.4rem;
		background: #173daa;
		border-radius: 0.5rem;
		transition: all 0.5s ease-in-out;
		&::before,
		&::after {
			transition: all 0.3s ease-in-out;
			position: absolute;
			content: '';
			width: 3.2rem;
			height: 0.4rem;
			background: #173daa;
			border-radius: 0.5rem;
		}

		&::before {
			transform: translate3d(-1.6rem, -1rem, 0);
		}

		&::after {
			transform: translate3d(-1.6rem, 1rem, 0);
		}
	}
}

/*Animation*/

.menu-btn.open .menu-btn__burger {
	transform: translateX(-1.6rem);
	background: transparent;
	box-shadow: none;

	&::before {
		transform: rotate(45deg) translate(0rem, 0rem);
		background: #173daa;
	}

	&::after {
		transform: rotate(-45deg) translate(0rem, 0rem);
		background: #173daa;
	}
}
