.btn-filled {
  display: flex;
  height: 5.6rem;
  padding: 0.9rem 4.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 6.4rem;
  &.azul {
    background: var(--azul, #173daa);
  }

  &.branco {
    background: var(--branco, #fff);

    color: var(--azul, #173daa);
    /* @include respond-to(small) {
			width: 100%;
		}

		@include respond-to(medium) {
			width: 100%;
		} */
  }

  color: var(--branco, #fff);

  /* LP/H4 */
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: max-content;

  &.w100 {
    max-width: 100%;
    width: 100%;
  }
}

.btn-outlined {
  display: flex;
  padding: 1.2rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  align-self: stretch;
  border-radius: 6.4rem;
  border: 2px solid var(--azul, #173daa);

  color: var(--azul, #173daa);

  /* App/Medium/Medium 20 */
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 125% */
}

.card {
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  @include respond-to("medium") {
    display: flex;
    padding: 1.6rem 0.4rem;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    flex: 1 0 0;
  }

  @include respond-to("small") {
    display: flex;
    padding: 1.6rem 0.4rem;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    flex: 1 0 0;
  }

  h3 {
    color: var(--laranja, #ff6d23);

    /* App/Bold/Bold 30 */
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }

  p {
    color: var(--branco, #fff);
    text-align: center;

    /* App/Regular/Regular 20 */
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}

.card-plano {
  display: flex;
  /* width: 32.6rem; */
  @include respond-to("medium") {
    /* width: 100%; */
    /* max-width: 32.6rem; */
  }
  @include respond-to("small") {
    /* width: 100%; */
    /* max-width: 32.6rem; */
  }
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 1.6rem;
  background: var(--branco, #fff);
  box-shadow: 0px 0px 30px 0px rgba(23, 61, 170, 0.3);

  .first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-self: stretch;

    .column {
      display: flex;
      align-items: center;
      gap: 2rem;
      align-self: stretch;
      justify-content: center;

      .text-icon {
        h3 {
          color: var(--cinza-escuro, #333);

          /* App/Bold/Bold 40 */
          font-family: Poppins;
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        p {
          color: var(--cinza-escuro, #333);

          /* App/Medium/Medium 15 */
          font-family: Poppins;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.8rem;
        }
      }
    }

    .icon {
      text-align: center;
      p {
        color: var(--laranja, #ff6d23);
        text-align: center;

        /* App/Medium/Medium 10 */
        font-family: Poppins;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.6rem;
      }
    }

    .text {
      h3 {
        color: var(--cinza-escuro, #333);
        text-align: center;

        /* App/Bold/Bold 60 */
        font-family: Poppins;
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      p {
        color: var(--cinza-escuro, #333);
        text-align: center;

        /* App/Medium/Medium 15 */
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.8rem;
      }
    }
  }

  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    align-self: stretch;

    .info {
      color: var(--azul, #173daa);
      font-family: Poppins;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.8rem;
      text-decoration-line: underline;
    }

    .price {
      p {
        color: var(--cinza-escuro, #333);
        text-align: center;

        /* App/Medium/Medium 15 */
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.8rem;
      }

      h3 {
        display: flex;
        .price__currency {
          color: var(--laranja, #ff6d23);
          text-align: center;
          font-family: Poppins;
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }

        .price__integer {
          color: var(--laranja, #ff6d23);
          text-align: center;
          font-family: Poppins;
          font-size: 4.8rem;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }

        .price__decimal {
          display: flex;
          flex-direction: column;

          span {
            color: var(--cinza-escuro, #333);

            /* App/Medium/Medium 15 */
            font-family: Poppins;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.8rem;
            &:first-child {
              color: var(--laranja, #ff6d23);
              text-align: center;
              font-family: Poppins;
              font-size: 2.4rem;
              font-style: normal;
              font-weight: 700;
              line-height: 100%;
            }
          }
        }
      }
    }
  }
}

.card-plano-tiny {
  width: 100%;
  /* width: 32.6rem; */
  @include respond-to("medium") {
    /* width: 100%; */
    /* max-width: 32.6rem; */
  }
  @include respond-to("small") {
    /* width: 100%; */
    /* max-width: 32.6rem; */
  }
  display: flex;
  height: 25.5281rem;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
  border-radius: 1.6rem;
  background: var(--branco, #fff);
  box-shadow: 0px 0px 30px 0px rgba(23, 61, 170, 0.3);

  .first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-self: stretch;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      svg {
        width: 3.6281rem;
        height: 3.6281rem;
        flex-shrink: 0;
      }
    }

    .column {
      display: flex;
      align-items: center;
      gap: 2rem;
      align-self: stretch;
      justify-content: center;

      .text-icon {
        h3 {
          color: var(--cinza-escuro, #333);
          text-align: center;

          /* App/Bold/Bold 50 */
          font-family: Poppins;
          font-size: 2.8rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        p {
          color: var(--cinza-escuro, #333);

          /* App/Medium/Medium 15 */
          font-family: Poppins;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.8rem;
        }
      }
    }

    .icon {
      text-align: center;
      p {
        color: var(--laranja, #ff6d23);
        text-align: center;

        /* App/Medium/Medium 10 */
        font-family: Poppins;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.6rem;
      }
    }

    .text {
      h3 {
        color: var(--cinza-escuro, #333);
        text-align: center;

        /* App/Bold/Bold 60 */
        font-family: Poppins;
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      p {
        color: var(--cinza-escuro, #333);
        text-align: center;

        /* App/Medium/Medium 15 */
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.8rem;
      }
    }
  }

  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    align-self: stretch;

    .info {
      color: var(--azul, #173daa);
      font-family: Poppins;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.8rem;
      text-decoration-line: underline;
    }

    .price {
      p {
        color: var(--cinza-escuro, #333);
        text-align: center;

        /* App/Medium/Medium 15 */
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.8rem;
      }

      h3 {
        display: flex;
        .price__currency {
          color: var(--laranja, #ff6d23);
          text-align: center;
          font-family: Poppins;
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          align-self: flex-end;
        }

        .price__integer {
          color: var(--laranja, #ff6d23);
          text-align: center;
          font-family: Poppins;
          font-size: 4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }

        .price__decimal {
          display: flex;
          flex-direction: column;

          span {
            color: var(--cinza-escuro, #333);

            /* App/Medium/Medium 15 */
            font-family: Poppins;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.8rem;
            &:first-child {
              color: var(--laranja, #ff6d23);
              text-align: center;
              font-family: Poppins;
              font-size: 2.4rem;
              font-style: normal;
              font-weight: 700;
              line-height: 100%;
            }
          }
        }
      }
    }
  }
}

.btn-wa {
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  background-color: #00d26a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to(small) {
    display: none;
  }

  @include respond-to(medium) {
    display: none;
  }
}

.btn-group-cta {
  z-index: 999;
  display: inline-flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: fixed;
  bottom: 5%;
  right: 5%;

  @include respond-to(medium) {
    bottom: 15vh;
  }

  @include respond-to(small) {
    bottom: 20vh;
  }
}

.btn-me-ligue {
  display: flex;
  width: 74px;
  height: 74px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--branco, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  background: radial-gradient(
      62.42% 62.46% at 52.47% 37.59%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(239, 51, 51, 0.27) 100%
    ),
    #ff6e27;

  border-radius: 50%;
}
